

  * {
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
  }
 
  .board {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #fff;
    width: 750px;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
  }
 
  .column {
    width: 250px;
    height:  250px;
    border: 1px solid lightgray;
    font-size: 86px;
    text-shadow: 3px 3px 3px gray;
  }


  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  
